* {
  box-sizing: border-box;
  position: relative;
}

body {
  padding: 0;
  margin: 0;

  background-color: #fff;
  color: #000;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
      padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px){
  .container {
      padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  .container {
      padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px){
  .container {
      padding: 0 calc(50vw - 590px);
  }
}

.col-33 { 
  width: calc(33.3333% - 15px); 
} 

.col-50 { 
  width: calc(50% - 15px); 
} 

.col-66 { 
  width: calc(66.6666% - 15px); 
} 

.col-100 { 
  width: calc(100% - 15px); 
}